<mat-card class="card-container">
    <mat-card-title *ngIf="results == null">{{ 'SIMULATION_FORM.TITLE' | translate }}</mat-card-title>
    <mat-card-title *ngIf="results != null">{{ 'RESULTS_FORM.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle *ngIf="results == null">{{ 'SIMULATION_FORM.SUBTITLE' | translate }}</mat-card-subtitle>
    <mat-card-content>
        <form class="form">
            <mat-grid-list cols="3" rowHeight="2:1" *ngIf="results == null">
                <mat-grid-tile>
                    <mat-form-field class="form-input">
                        <label for="arrivalRate">{{ 'SIMULATION_FORM.ARRIVAL_RATE_TEXT' | translate }}:</label>
                        <button mat-icon-button matTooltip="{{ 'SIMULATION_FORM.ARRIVAL_RATE_TOOLTIP' | translate }}" matTooltipHideDelay="10000"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                        </button>
                        <input matInput type="number" min="0" max="50.5" [(ngModel)]="form.arrivalRate" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="form-input">
                        <label for="avgWarmTime">{{ 'SIMULATION_FORM.WARM_TIME_TEXT' | translate }}:</label>
                        <button mat-icon-button matTooltip="{{ 'SIMULATION_FORM.WARM_TIME_TOOLTIP' | translate }}" matTooltipHideDelay="10000"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                        </button>
                        <input matInput [(ngModel)]="form.warmResponseTime" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="form-input">
                        <label for="avgColdTime">{{ 'SIMULATION_FORM.COLD_TIME_TEXT' | translate }}:</label>
                        <button mat-icon-button matTooltip="{{ 'SIMULATION_FORM.COLD_TIME_TOOLTIP' | translate }}" matTooltipHideDelay="10000"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                        </button>
                        <input matInput [(ngModel)]="form.coldResponseTime" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="form-input">
                        <label for="expirationThreshold">{{ 'SIMULATION_FORM.THRESHOLD_TEXT' | translate }}:</label>
                        <button mat-icon-button matTooltip="{{ 'SIMULATION_FORM.THRESHOLD_TOOLTIP' | translate }}" matTooltipHideDelay="10000"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                        </button>
                        <input matInput [(ngModel)]="form.threshold" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="form-input">
                        <label for="simulationTime">{{ 'SIMULATION_FORM.SIMULATION_TIME_TEXT' | translate }}:</label>
                        <button mat-icon-button matTooltip="{{ 'SIMULATION_FORM.SIMULATION_TIME_TOOLTIP' | translate }}" matTooltipHideDelay="10000"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                        </button>
                        <input matInput type="number" [(ngModel)]="form.simulationTime" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="2:1" *ngIf="results != null">
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.COLD_INSTANCE_COUNT' | translate }} {{ results.coldInstancesCount }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.WARM_INSTANCE_COUNT' | translate }} {{ results.warmInstancesCount }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.REQUESTS_COUNT' | translate }} {{ results.requestsCount }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.REJECTED_COUNT' | translate }} {{ results.rejectedCount }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.COLD_PROBABILITY' | translate }} {{ results.coldProbability }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.REJECTED_PROBABILITY' | translate }} {{ results.rejectionProbability }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.WARM_PROBABILITY' | translate }} {{ results.warmProbability }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.AVERAGE_INSTANCE_LIFESPAN' | translate }} {{ results.averageInstanceLifespan }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.AVERAGE_INSTANCE_COUNT' | translate }} {{ results.averageServerCount }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.AVERAGE_RUNNING_COUNT' | translate }} {{ results.averageRunningServers }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-content>
                            {{ 'RESULTS_FORM.AVERAGE_IDLE_COUNT' | translate }} {{ results.averageIdleCount }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>            
            </mat-grid-list>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="runSimulation()" *ngIf="results == null">{{ 'SIMULATION_FORM.START_SIMULATION_BUTTON' | translate }}</button>
        <button mat-button (click)="clearSimulation()" *ngIf="results != null">{{ 'RESULTS_FORM.BACK_BUTTON' | translate }}</button>
    </mat-card-actions>
</mat-card>