<!-- <div class="container">
  <h6 class="title-text">SIMULADOR DE FUNÇÕES SERVERLESS</h6>
  <simulation-form></simulation-form>
</div> -->

<mat-toolbar>
  <span class="title-text">{{ 'TITLE' | translate }}</span>
  <span class="spacer"></span>
  <mat-form-field appearance="fill" class="language-select"> 
    <mat-label>{{ 'LANGUAGE' | translate }}:</mat-label>
      <mat-select [formControl]="selectedLanguage" (selectionChange)="translateLanguage()">
        <mat-option *ngFor="let lang of languages" [value]="lang.value">{{lang.label}}</mat-option>
      </mat-select>
  </mat-form-field>
</mat-toolbar>
<simulation-form></simulation-form>


<!-- REUNIÃO 27/05
ver prazo da qualificação......
próxima reunião dia 01/06...

apresentar algo mais substancial mostrar...
montar diagrama de classe, especificação

-> 
Sistema web: Front em Angular, Back em Nodejs
- facilidade e praticidade no desenvolvimento, ferramentas e tecnologias ja conhecidas
- facilidade para fazer deploy

Classes/Componentes:
- 1 interface gráfica
- 1 classe para processar simulação - "ServerlessSimulator", "Simulation Orchestrator"
- 1 classe para gerar os gráficos (e analisar resultados)
- 1 classe que representa a função - "FunctionInstance"

**Talvez: 
**Classe utility para helper functions e cálculos - "Utility"
**Em Simulation-as..... existe uma classe para organizar e outra para iniciar simulação- Simulation Orchestrator e Simulation Launcher
-->

<!-- aqui: fazer um componente para formulario e deixar colocar aqui dentro...... -->